<?xml version="1.0" encoding="UTF-8"?>
<web-app xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Details_UsingID</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoTest</display-name>
    <servlet-name>DemoTest</servlet-name>
    <servlet-class>DemoTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoTest</servlet-name>
    <url-pattern>/DemoTest</url-pattern>
  </servlet-mapping>
</web-app>